@import "tailwindcss";

body {
  @apply flex flex-col w-screen min-h-screen items-center justify-center m-0 p-0 antialiased overflow-x-hidden;
}

@layer base {
  [data-rk] {
    @apply w-full h-full min-w-0 flex flex-col items-center justify-center m-0 p-0;

  }

  [data-rk] .iekbcc0 {
    @apply w-auto h-auto
  }


  /* [data-rk][role="dialog"][aria-modal="true"] {
      width: 100% !important;
  max-width: none !important;
  margin: auto !important;
  } */
}

@layer components {
  .lortable {
    @apply w-full my-5 mx-auto;
  }
  .lortable th {
    @apply px-8 py-4 text-left text-sm font-medium text-gray-800 uppercase tracking-wider;
  }

  .lortable td {
    @apply px-8 py-4 text-left text-sm text-black flex-wrap cursor-pointer;
  }

}